[Unit]
Description=GO BYTE application
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=byte
ExecStart=/home/byte/byte-server/app
WorkingDirectory=/home/byte/byte-server

[Install]
WantedBy=multi-user.target
