[Unit]
Description=Express BYTE application
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ec2-user
ExecStart=/home/ec2-user/.bun/bin/bun run /home/ec2-user/byte-server/server.ts
WorkingDirectory=/home/ec2-user/byte-server

[Install]
WantedBy=multi-user.target